.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
}

.imageContainer{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: absolute;
    background-color: blue;
    z-index: 0;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eventContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    color:#fff;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    z-index: 10;
}

.eventHeader h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: white
}