.dashboardLC {
    width: 100%;
    .nextMeet {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        &.nomeet {
            .content {
                height: 100%;
                align-items: center;
                justify-content: center;
                .info {
                    display: block;
                    margin-bottom: 0;
                }
            }
        }
        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            background: #eef2ff;
            padding: 20px;
            border-radius: 10px;
            .info {
                width: 100%;
                display: flex;
                flex-direction: column;
                h1 {
                    text-align: start;
                }
                span {
                    font-size: 14px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    text-align: start;
                }
                .date {
                    font-size: 20px;
                    font-weight: 500;
                    display: flex;
                    gap: 10px;
                }
                .title {
                    font-size: 20px;
                    font-weight: 500;
                    color: #000;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: end;
                height: 100%;
            }
        }
    }
    .pastMeets {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        align-items: start;
        .meetups {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .meetup {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 30px;
                border-radius: 10px;
                background: #fff;
                border: 1px solid #000;
                cursor: pointer;
                .container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    .info {
                        display: flex;
                        flex-direction: column;
                        .title {
                            font-size: 16px;
                            font-weight: 500;
                            color: #000;
                            display: flex;
                            gap: 10px;
                        }
                        .date {
                            font-size: 14px;
                            font-weight: 500;
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}
