.pageContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.searchIcon {
    position: absolute;
    left: 10px;
    color: #aaa;
    font-size: 18px;
}

.searchInput {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Ensure text doesn't overlap icon */
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    border-radius: 20px;
    color: black !important; /* Force text color */
    background-color: white; /* Ensure background is white */
    caret-color: black; /* Ensure cursor is black */
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.BannerContent {
    text-align: left;
  }
  
  .BannerTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    color: #4B5563
  }
  
  .BannerSubtitle {
    font-size: 0.95rem;
  }
  